<!DOCTYPE html>
<html>
  <style>
    h1 {
      font-family: Roboto;
      font-weight: normal;
      text-align: center;
    }
    p {
      font-family: Roboto;
      font-weight: normal;
      text-align: justify;
    }

    
  </style>
  <head>
    <title> Who am I </title>
  </head>
  <body>
    <h1 align="center">Who am I</h1>
    <p>My Name is Emad Ali. I am the IT guy. I troubleshoot and fix people's issues regarding computers and networks. I am a networking person but I also have an interest in cybersecurity and the cloud which is my next goal after I finish the CCNA exam. I also have achieved some cybersecurity and networking certificates. Check out my linkedin account for my achievements. </p>

    <h3>Contact</h3>
    <p> imadalione@pm.me</p>
                
  </body>
</html>